@import 'colores';

.btn {
  display: flex;
  position: relative;
  padding: 0.625rem;
  font-size: 1.5rem;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 400; 
  color: $negro;
  border: 2px solid $negro;


  &__nav {
    background-color: $blanco;
  }

  &__nav:hover, &__nav:active{
    background: $degradado;
    border: 2px solid transparent;

    z-index: 1;
    &:before {
      background-color: $crema;
      content: "";
      position: absolute;

      inset: 0;
      z-index: -1;
      border-radius: inherit;
    }
  }


  &__form {
    background-color: $rosa;
  
    &:hover {
      background-color: rgba(239, 48, 97, 0.62);
    }
  }

}



