$negro: #1c1c1c;
$rosa: #ef3061;
$crema: #eed893;
$gris: #d9d9d9;
$dorado: #d4af37;
$degradado: linear-gradient(
  180deg,
  #96fbc4 0%,
  rgba(249, 245, 134, 0.92) 66.68%
);

$amarillo: #FEF985;
$azul: rgba(0, 60, 229, 0.35);
$blanco: #fff;