@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

img { width: 100%;}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4375rem
}

h3 {
    font-size: 2.25rem;
}


h1,
h2,
h3 {
    font-family: 'Architects Daughter', cursive;
}

ul , ol{
margin: 0;
padding: 0;
list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }