@import "general";
@import "colores";
@import "botones";
@import "header";
@import "footer";

.margin{
  margin: 10%;
}
.center{
  text-align: center;
  align-items: center;
}

.display_flex{
  display: flex;
}

.flex {
  display: flex;
  gap: 20px;
}

.cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  &__image {
    flex-basis: 60%;
  }

  &__information {
    flex-basis: 30%;
  }
}

.products {

  min-width: 19.6875rem; //315px
  display: flex;

  &__icons {
    max-width: 40px;
    background-color: $gris;
    background: lightslategrey;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  &__image {
    max-width: 200px;
  }

  &__target--gris {
    background-color: $gris;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }

  &__target__flex {
    display: flex;
    width: 260px;
  }

  &__target__information {
    flex-basis: 60%;
    text-align: start;
  }

  &__target__cesta {
    max-width: 100px;
    flex-basis: 40%;
  }

}

.product{
  align-items: center;
}
.margin-bottom {
  margin: 100px 0;
}