@import "general";
@import "colores";
@import "botones";
@import "header";
@import "footer";

//Este margin es para que los form no esten tan juntos al borde de la pantalla

.margin{
  margin: 8%;
}

//Div information. 
.information{
  margin: 8%;
}

//Div formularios 
.titulos {
  font-size: 50px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  color: $negro;
}

.formulario {
  max-width: 350px;
  border-radius: 53px;
  background-color: $gris;
  padding: 60px;
  margin-right: 5%;

  &__text {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
  }

  img {
    max-width: 143px;
  }

  &__form div {
    display: flex;
  }

  &__form div:last-child {
    justify-content: space-between;
  }

  &__campos {
    flex-grow: 1;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #B6B4B4;
    border: none;
  }

  &__campos::placeholder {
    font-size: 1.375rem;
    color: $negro;
  }
}

//Display flex, para ordenar uno al lado del otro

.display_flex{
  display: flex;
}

